version: '3.3'
services:
  comixed:
    image: jakanapes/comixed:initial
    build:
      context: .
    volumes:
      - {/PATH/TO/COMICS}:/comic_data
      - comixed_db:/home/root/.comixed/comixed
    ports:
      - 7171:7171
volumes:
  comixed_db:
